@model FDevs.ViewModels.DetailsVM
@{
    ViewData["Title"] = Model.VideoAtual.Modulo.Nome;
    float qtdVideos = 0;
    float qtdConcluido = 0;
}

<div class="content">
    <section class="left">
        <h2>@Model.CursoAtual.Nome</h2>
        @foreach (var modulo in Model.Modulos)
        {
            @foreach (var video in modulo.Videos)
            {
                qtdVideos += 1;
                var estadoUsuarioVideo = Model.UsuarioEstadoVideos
                .FirstOrDefault(uev => uev.VideoId == video.Id && uev.UsuarioId == ViewBag.User.UsuarioId);

                if (estadoUsuarioVideo.EstadoId == 2)
                {
                    qtdConcluido += 1;
                }
                <iframe id="player-@video.Id" frameborder="0" allowfullscreen class="my-3 video" data-video-id="@video.Id"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" title="@video.Titulo" width="100%" height="470"
                    src="@video.URL&amp;showinfo=0&amp;ecver=2&amp;enablejsapi=1&amp;origin=https%3A%2F%2Ffdevs.upper.net.br&amp;widgetid=1">
                </iframe>
            }
        }
    </section>

    @{
        var progressoVerde = Math.Round((qtdConcluido / qtdVideos) * 100);
    }


    <section class="fixed-end d-flex justify-content-end m-5 p-0">
        <aside class="sidenav navbar navbar-vertical right navbar-expand-xs w-100 border-radius-xl mt-5 mb-0 ms-0"
            id="sidenav-main" style="min-width: 400px;">
            <hr class="horizontal light mt-0 mb-3">
            <div class="collapse navbar-collapse navOverflow" id="sidenav-collapse-main">
                <div class="row ms-1">
                    <span class="col-3 m-0 px-1 text-white">Andamento:</span>
                    <div class="d-flex col-8 justify-content-start h-fit-content m-0 p-0">
                        <div class="progress-container p-0 w-80 ">
                            <div class="progress p-0">
                                <div class="bar green d-flex justify-content-center align-items-center text-bold fs-7"
                                    style="width:@progressoVerde%;">
                                    <span class="text-center @(progressoVerde > 0 ? "" : "ms-4")">@(progressoVerde > 0 ?
                                        progressoVerde + "%" : "0%")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav ">
                    @foreach (var modulo in Model.CursoAtual.Modulos)
                    {
                        <li class='nav-item ' data-bs-toggle="collapse" href="#modulo-@modulo.Id" role="button"
                            aria-expanded="false" aria-controls="modulo-@modulo.Id">
                            <a class='nav-link text-white dropdown-toggle' href="#" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="text-white d-flex align-items-center justify-content-center">
                                    <span>+</span>
                                    <i class="material-icons opacity-10">book</i>
                                    <span class="nav-link-text ms-2">@modulo.Nome</span>
                                </div>
                            </a>
                        </li>
                        <ul class="list-unstyled collapse multi-collapse @(ViewData["Title"].ToString() == modulo.Nome ? "show" : "")"
                            id="modulo-@modulo.Id">
                            @foreach (var video in modulo.Videos)
                            {
                                var estadoUsuarioVideo = Model.UsuarioEstadoVideos
                                .FirstOrDefault(uev => uev.VideoId == video.Id && uev.UsuarioId == ViewBag.User.UsuarioId);

                                <li class="nav-item">
                                    <form action="@Url.Action("UpdateProgress", "Home", new { id = video.Id })" method="post">
                                        <button type="submit" class='nav-link btn text-white btn-filter w-100'>
                                            <div class="row w-100">
                                                <div class="text-white col-12 d-flex align-items-center">
                                                    <span class="nav-link-text">@video.Titulo</span>
                                                </div>
                                                <a href="#" class="ms'-3 col-12 btn-sm text-dark text-bold tags"
                                                    style="background-color:@estadoUsuarioVideo.Estado.Cor"></a>
                                            </div>
                                        </button>
                                    </form>
                                </li>
                            }
                        </ul>
                    }
                    @foreach (var prova in Model.CursoAtual.Provas)
                    {
                        @if (prova != null)
                        {
                            <li class='nav-item' data-bs-toggle="collapse" href="#prova-@prova.Id" role="button"
                                aria-expanded="false" aria-controls="prova-@prova.Id">
                                <a class='nav-link text-white dropdown-toggle' href="#" type="button" id="dropdownMenuButton2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="text-white d-flex align-items-center justify-content-center">
                                        <span>+</span>
                                        <i class="material-icons opacity-10">book</i>
                                        <span class="nav-link-text ms-2">@prova.Nome</span>
                                    </div>
                                </a>
                            </li>
                            <ul class="list-unstyled collapse multi-collapse" id="prova-@prova.Id">
                                <li class="nav-item">
                                    <form action="Prova">
                                        <a asp-action="Index" asp-controller="ProvasUsuario" asp-route-id="@prova.Id"
                                            asp-route-questaoid="@Model.QuestaoId" type="submit"
                                            class='nav-link btn text-white btn-filter w-100'>
                                            <div class="row w-100">
                                                <div class="text-white col-12 d-flex align-items-center">
                                                    <span class="nav-link-text">@prova.Nome</span>
                                                </div>
                                            </div>
                                        </a>
                                    </form>
                                </li>
                            </ul>
                        }
                    }
                </ul>
            </div>
        </aside>
    </section>
    <section class="bottom rounded">
        <div class="container text-white">
            <div class="row p-4">
                <div class="col text-center">
                    @if (Model.VideoAnterior != null && Model.VideoAtual.Modulo.Curso.Id ==
                    Model.VideoAnterior.Modulo.Curso.Id)
                    {
                        <form action="@Url.Action("UpdateProgress", "Home", new { id = Model.VideoAnterior.Id })"
                            method="post">
                            <button class="btn btn-lg btnLeft btn-outline-transparent text-start w-100" type='submit'>
                                Aula anterior
                            </button>
                        </form>
                    }
                </div>
                <div class="col text-center">
                    @if (Model.ProximoVideo != null && Model.VideoAtual.Modulo.Curso.Id ==
                    Model.ProximoVideo.Modulo.Curso.Id)
                    {
                        <form action="@Url.Action("UpdateProgress", "Home", new { id = Model.ProximoVideo.Id })"
                            method="post">
                            <button class="btn btn-lg btnRight btn-outline-transparent text-white text-end w-100"
                                type='submit'>
                                Próxima aula
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="title">
            <h2 class="text-center">@Model.VideoAtual.Titulo</h2>
        </div>
    </section>
</div>

@section Styles {
    <style>
        * {
            margin: 0;
            border: 0;
            padding: 0;
            box-sizing: border-box;
            margin-right: 0 !important;
        }

        ul,
        li {
            overflow-x: hidden;
        }

        section {
            width: 100%;
        }

        .content {
            margin: 1rem;
            display: grid;
            grid-template-columns: 70% 1fr;
            grid-gap: 1rem;
            height: 100%;
            width: 100%;
        }

        .right {
            background-color: #2b323A;
            bottom: 0;
            width: 100%;
            padding: 20px;
            height: 100vh;
        }

        .bottom {
            background-color: white;
        }

        .btnLeft {
            background-color: #E3E3E3;
        }

        .btnRight {
            background-color: #17988f;
        }

        .btnLeft:hover,
        .btnRight:hover {
            background-color: #0d5752;
            transition: 100ms;
        }

        .btnLeft:hover {
            color: white !important;
        }


        .modulosContainer {
            background-color: #E3E3E3;
            padding: 1rem;
            border-radius: 3px;
            border: 1px solid #cfcfcf;
        }

        .progress-container {
            width: 100%;
            height: 1.5rem;
            background-color: lightgray;
            border-radius: 5px;
        }

        .progress {
            display: flex;
            height: 100%;
            border-radius: 5px;
            border: 1px solid black;
        }

        .bar {
            height: 100%;
        }

        .green {
            background-color: rgba(0, 255, 0, 1);
        }

        ul,
        .navbar-nav,
        .collapse {
            min-height: 100% !important;
        }

        .navbar .dropdown-menu{
            z-index: 1050 !important;
        }

        .fixed-end .sidenav {
            z-index: 500 !important;
            overflow-y: hidden;
        }

        .navOverflow {
            overflow-y: hidden !important;
        }
    </style>
}

@section Scripts {
    <script>
        function filter(videoId, clickedButton) {
            document.querySelectorAll('.video').forEach(card => {
                card.style.display = "flex";
                if (card.getAttribute('data-video-id') != videoId & videoId != '') {
                    card.style.display = "none";
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            var selectedVideoId = @Model.SelectedVideoId;
            if (selectedVideoId) {
                filter(selectedVideoId);
            }
        });


    </script>
}