@model FDevs.ViewModels.HomeVM
@{
    ViewData["Title"] = "FDevs 2024";
    float qtdCursos = 0;
    float qtdVideos = 0;
    float qtdVideosConcluidos = 0;
    float qtdAndamento = 0;
    float qtdConcluido = 0;
    float qtdNaoIniciado = 0;
}
@foreach (var usuarioCurso in Model.Cursos)
{
    qtdCursos += 1;
    if (usuarioCurso.Curso.Estado.Id == 1)
    {
        qtdAndamento += 1;
    }
    else if (usuarioCurso.Curso.Estado.Id == 2)
    {
        qtdConcluido += 1;
    }
    else if (usuarioCurso.Curso.Estado.Id == 3)
    {
        qtdNaoIniciado += 1;
    }
}
@{
    var progressoVermelho = Math.Round((qtdNaoIniciado / qtdCursos) * 100);
    var progressoAmarelo = Math.Round((qtdAndamento / qtdCursos) * 100);
    var progressoVerde = Math.Round((qtdConcluido / qtdCursos) * 100);
    var progressoModulo = 0.0;
}

<div class="d-flex justify-content-center">

    <div class="container ">
        <section class="left" id="cursos">
            <div class="d-flex container justify-content-center ">
                <ul class="row optionsRow w-100 m-0 p-0">
                    <a href="#cursos" class="col-3 btn text-center chosen btnCategory" onclick="changeBtn(this)">
                        Meus cursos
                    </a>
                    <a href="#trilhas" class="col-3 btn text-center btnCategory" onclick="changeBtn(this)">
                        Minhas trilhas
                    </a>
                </ul>
            </div>
            <div class="owl-carousel owl-theme d-flex flex-nowrap">
                @foreach (var usuarioCurso in Model.Cursos)
                {
                    qtdVideos = 0;
                    qtdVideosConcluidos = 0;
                    @foreach(var modulo in usuarioCurso.Curso.Modulos){
                        @foreach(var video in modulo.Videos){
                            qtdVideos += 1;
                            if(video.EstadoId == 2){
                                qtdVideosConcluidos += 1;
                            }
                        }
                    }
                    progressoModulo = Math.Round((qtdVideosConcluidos / qtdVideos) * 100);
                    <div class="item curso">
                        <div class="card m-3" style="width: 15rem;">
                            <img src="@usuarioCurso.Curso.Foto" class="card-img-top" width=237 height=140 alt="...">
                            <div class="progress-modulo-container p-0 w-100 ">
                                <div class="progress-modulo p-0">
                                    <div class="bar green d-flex justify-content-center align-items-center text-bold fs-6"
                                        style="width:@progressoModulo%;"> @(progressoModulo > 0 ? $"{progressoModulo}%" : "")
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-start row">
                                <a href="#" class="ms-3 fs-8 btn-sm text-dark text-bold tags"
                                    style="background-color:@usuarioCurso.Curso.Estado.Cor">@usuarioCurso.Curso.Estado.Nome</a>
                                <h6 class="card-title col-12 mt-2 text-nowrap">@usuarioCurso.Curso.Nome</h6>
                            </div>
                            <hr class="itemHr">
                            <a asp-action="Details" asp-route-id="@usuarioCurso.Curso.Id" class="col-12 btn startBtn">Começar </a>
                        </div>
                    </div>
                }
            </div>
        </section>
        <section class="right">
            <div class="row">
                <div class="align-center d-flex w-100">
                    <span class="p-4 w-100 fs-5">Meu progresso
                        <hr class="itemHr">
                    </span>
                </div>
                <div class="d-flex justify-content-center row m-0 p-0">
                    <span class="col-12 text-center">Inscrito em</span>
                    <p class="col-12 text-bold text-center fs-2 m-0">@qtdCursos</p>
                    <span class="col-12 text-center mb-3">cursos</span>
                </div>
            </div>
            <div class="d-flex justify-content-center h-50 align-items-center">
                <div class="progress-container p-0 w-90 ">
                    <div class="progress p-0">
                        <div class="bar green d-flex justify-content-center align-items-center text-bold fs-6"
                            style="width:@progressoVerde%;"> @(progressoVerde > 0 ? $"{progressoVerde}%" : "")</div>
                        <div class="bar yellow d-flex justify-content-center align-items-center text-bold fs-6"
                            style="width:@progressoAmarelo%;">@(progressoAmarelo > 0 ? $"{progressoAmarelo}%" : "")
                        </div>
                        <div class="bar red d-flex justify-content-center align-items-center text-bold fs-6"
                            style="width:@progressoVermelho%;">@(progressoVermelho > 0 ? $"{progressoVermelho}%" : "")
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bottom" id="trilhas">
            <div class="row">
                <div class="align-center d-flex w-100">
                    <span class="p-4 w-100 fs-5">Trilhas
                        <hr class="itemHr">
                    </span>
                </div>
                <div class="owl-carousel owl-theme d-flex flex-nowrap mx-1">
                    @foreach (Trilha trilha in Model.Trilhas)
                    {
                        <div class="item ">
                            <div class="card m-3" style="width: 15rem;">
                                <img src="@trilha.Foto" class="card-img-top" width=237 height=140 alt="...">

                                <div class="card-body d-flex justify-content-start row">
                                    <h6 class="card-title col-12 mt-2">@trilha.Nome</h6>
                                </div>
                                <hr class="itemHr">
                                <a href="#" class="col-12 btn startBtn">Começar </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script>
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 35,
            nav: false,
            responsive: {
                700: {
                    items: 1
                },
                1000: {
                    items: 2
                },
                1450: {
                    items: 3
                }
            }
        })
        function changeBtn(clickedBtn) {
            clickedBtn.classList.remove('text-dark');
            clickedBtn.classList.add('chosen');

            let buttons = document.querySelectorAll('.btnCategory');
            buttons.forEach(btn => {
                if (btn !== clickedBtn) {
                    btn.classList.remove('chosen');
                    btn.classList.add('text-dark');
                }
            });
        }
    </script>
}

@section Styles {
    <style>
        * {
            margin: 0;
            border: 0;
            padding: 0;
            box-sizing: border-box;
        }


        section {
            background-color: white;
            box-shadow: 0.1rem 0.1em 2rem rgba(0, 0, 0, 0.3);
            border: 1px solid lightgray;
            border-radius: 3px;
        }

        .container {
            padding: 1rem;
        }

        li {
            flex-wrap: nowrap;
            text-wrap: nowrap;
        }

        .container {
            margin: 1rem;
            display: grid;
            grid-template-columns: 70% 1fr;
            grid-gap: 1rem;
            cursor: default;
        }

        ul {
            list-style: none
        }

        .optionsRow {
            border-bottom: lightgray 1px solid;
        }

        .chosen {
            border-bottom: #008faf 2px solid;
            color: #008faf !important;
        }

        .startBtn {
            color: red;
            align-self: end;
            margin: 0;
        }

        .itemHr {
            margin: 0;
            border: 1px solid gray;
        }

        .startBtn:hover {
            background-color: #ff9393;
        }

        .tags {
            width: fit-content;
        }

        .progress-container {
            width: 100%;
            height: 1.5rem;
            background-color: lightgray;
            overflow: hidden;
        }

        .progress-modulo-container {
            width: 100%;
            height: 1.5rem;
            border-radius: 0 !important;
            background-color: lightgray;
            overflow: hidden;
        }


        .progress {
            display: flex;
            height: 100%;
            border: 1px solid black;      
        }

        .progress-modulo {
            display: flex;
            height: 100%;
            background-color:white;
            border-radius: 0 !important;
        }

        .bar {
            height: 100%;
            transition: width 1s;
        }

        .green {
            background-color: rgb(36, 224, 36);
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: red;
        }
    </style>
}
